{% extends "base.html" %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <h1 class="title">
      Welcome, {{ user.username }}!
    </h1>
    <div class="columns">
        <div class="column is-half">
            <h2 class="subtitle">Calculate index</h2>
            <form method="POST" action="/api/calculator" id="calculateIndexForm">
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label>
                                    <input class="input is-medium" type="text" name="left_team" placeholder="Left team" autofocus="">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label>
                                    <input class="input is-medium" type="text" name="right_team" placeholder="Right team">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button is-block is-info is-medium is-fullwidth">Calculate</button>
            </form>
            <br>
            <h2 class="subtitle">Result index: <span id="indexResult">0</span></h2>
            <h2 class="subtitle notification is-danger" style="display: none;" id="error">error</h2>
        </div>
        <div class="column is-half">
            <h2 class="subtitle">Change password</h2>
            <form method="POST" action="/profile/password" id="updatePasswordForm">
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label>
                                    <input class="input is-medium" type="password" name="password" placeholder="New password" autofocus="">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button is-block is-info is-medium is-fullwidth">Change password</button>
            </form>
            <br>
            <h2 class="subtitle notification is-primary" id="updatePasswordSuccess"></h2>
            <h2 class="subtitle notification is-danger" style="display: none;" id="updatePasswordError"></h2>
        </div>
    </div>
{% endblock %}